---
interface Props {
  title: string;
  number: string;
}

const { title, number } = Astro.props;
---

<li class="relative">
  <div
    class="absolute -left-14 bg-prime text-white font-bold text-lg px-3 py-1"
  >
    {number}
  </div>
  <h3 class="font-bold text-xl">{title}</h3>
  <p class="prose prose-lg">
    <slot />
  </p>
</li>
